/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: transparent;
	
}

.button {
		-fx-background-color: transparent;
}

.youtubeButton{
	-fx-background-image:url("../images/youtube.png");
	-fx-background-size: 64.0 64.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center; 
	
}

.facebookButton{
	-fx-background-image:url("../images/facebook.png");
	-fx-background-size: 64.0 64.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center; 
	
}

.amazonButton{
	-fx-background-image:url("../images/amazon.png");
	-fx-background-size: 64.0 64.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center; 
	
}

.twitterButton{
	-fx-background-image:url("../images/twitter.png");
	-fx-background-size: 64.0 64.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center; 
	
}

.exitButton{
	-fx-background-image:url("../images/exit.png");
	-fx-background-size: 64.0 64.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center; 
	
}